body {
  background-color: bisque;
  font-family: "Lucida Console", "Courier New", monospace;
}

h1 {
  font-family: "Cursive", "Lucida Handwriting";
}

header {
  background-color: brown;
  color: white;
  margin-top: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50px;
}

button {
  font-family: "Lucida Console", "Courier New", monospace;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {
  background-color: sandybrown;
}
.button2 {
  background-color: sandybrown;
}

.button3 {
  background-color: sandybrown;
}

/* nav {
  background-color: sandybrown;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
} */

form {
  font-family: "Lucida Console", "Courier New", monospace;
  padding: 12px 12px;
}

input {
  font-family: "Lucida Console", "Courier New", monospace;
  padding: 12px 12px;
}

input[type="text"] {
  border: 2px black;
  padding: 16px 32px;
  border-radius: 4px;
  background-color: aliceblue;
}

input[type="submit"] {
  border-radius: 4px;
  background-color: burlywood;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
